{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Cards</h1>
<div class="row">
{% for card in cards %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static card.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ card.name }}</h5>
                <p class="card-text">{{ card.card_type }}</p>
                <a href="{% url 'card_detail' card.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}